policy_module(waydroid, 1.0.0)

########################################
# Declarations

type waydroid_t;
type waydroid_exec_t;
init_daemon_domain(waydroid_t, waydroid_exec_t)

type waydroid_var_lib_t;
files_type(waydroid_var_lib_t)

type waydroid_runtime_t;
files_runtime_file(waydroid_runtime_t)

type waydroid_rootfs_t;
files_type(waydroid_rootfs_t)

# Replaced with a permissive declaration only for an explicitly selected
# Waydroid policy-discovery build. Release policy is enforcing by default.
# WAYDROID_DEVELOPMENT_PERMISSIVE
