[Unit]
Description=Start up a USB terminal
After=systemd-udev-settle.service
ConditionPathExists=!/var/sota/sql.db

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=stty -F /dev/to_be_defined speed 115200

[Install]
WantedBy=multi-user.target
