// SPDX-License-Identifier: (GPL-2.0 OR MIT)
/*
 * Copyright 2020 NXP
 */

#include "freescale/imx8mm-evkb.dts"
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/leds/common.h>

/ {
        model = "i.MX8MM Jaguar INST board";

	// Regulators
	reg_vddext_3v3: regulator-vddext {
		compatible = "regulator-fixed";
		regulator-name = "VDDEXT_3V3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
	};

	sound-wm8524 {
		status = "disabled";
	};

	sound-ak4458 {
		status = "disabled";
	};

	sound-spdif {
		status = "disabled";
	};

	sound-bt-sco {
		status = "disabled";
	};
};

&iomuxc {
        pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_hog>;

	// TODO: Break these out better?
	pinctrl_hog: hoggrp {
		fsl,pins = <
			MX8MM_IOMUXC_SD1_DATA4_GPIO2_IO6	0x140  // WL_WAKE_DEV
			MX8MM_IOMUXC_SD1_DATA5_GPIO2_IO7	0x140  // BT_WAKE_DEV
                        MX8MM_IOMUXC_NAND_DATA01_GPIO3_IO7      0x140  // WIFI_PD#
			MX8MM_IOMUXC_NAND_DATA02_GPIO3_IO8	0x140  // BT_WAKE_HOST
                        MX8MM_IOMUXC_NAND_DATA03_GPIO3_IO9      0x140  // BT_RST#
                        MX8MM_IOMUXC_SAI1_RXD7_GPIO4_IO9        0x140  // LED_ENABLE
                        MX8MM_IOMUXC_SAI1_TXFS_GPIO4_IO10       0x140  // CODEC_IRQ#
                        MX8MM_IOMUXC_SPDIF_RX_GPIO5_IO4         0x140  // CODEC_SD#
                        MX8MM_IOMUXC_SD1_STROBE_GPIO2_IO11      0x140  // ZB_RST#
                        MX8MM_IOMUXC_SAI2_RXC_GPIO4_IO22        0x140  // ZB_INT
			MX8MM_IOMUXC_NAND_CE0_B_GPIO3_IO1	0x140  // LTE_OFF
			MX8MM_IOMUXC_SAI1_RXD4_GPIO4_IO6	0x140  // SLMB_0
		>;
	};

        pinctrl_ecspi1: ecspi1grp {
                fsl,pins = <
			MX8MM_IOMUXC_ECSPI1_SS0_GPIO5_IO9	0x13
                        MX8MM_IOMUXC_ECSPI1_SCLK_ECSPI1_SCLK	0x13
                        MX8MM_IOMUXC_ECSPI1_MISO_ECSPI1_MISO	0x13
                        MX8MM_IOMUXC_ECSPI1_MOSI_ECSPI1_MOSI	0x13
                >;
        };

        pinctrl_ecspi2: ecspi2grp {
                fsl,pins = <
			MX8MM_IOMUXC_ECSPI2_SS0_GPIO5_IO13	0x96
                        MX8MM_IOMUXC_ECSPI2_SCLK_ECSPI2_SCLK	0x96
                        MX8MM_IOMUXC_ECSPI2_MOSI_ECSPI2_MOSI	0x96
			MX8MM_IOMUXC_ECSPI2_MISO_ECSPI2_MISO	0x96
			MX8MM_IOMUXC_SAI3_RXC_GPIO4_IO29	0x96  // RADAR_IRQ
			MX8MM_IOMUXC_SAI3_RXFS_GPIO4_IO28	0x96 // RADAR_RST
                >;
        };

	pinctrl_pdm: pdmgrp {
		fsl,pins = <
			MX8MM_IOMUXC_SAI1_MCLK_PDM_CLK		0xd6
			MX8MM_IOMUXC_SAI1_RXD0_PDM_DATA0	0xd6
			MX8MM_IOMUXC_SAI1_RXD1_PDM_DATA1	0xd6
			MX8MM_IOMUXC_SAI1_RXD2_PDM_DATA2	0xd6
			MX8MM_IOMUXC_SAI1_RXD3_PDM_DATA3	0xd6
		>;
	};
};

&uart3 {
	status = "disabled";
};

&gpio2 {
	wl-wake-dev-hog {
		gpio-hog;
		gpios = <6 GPIO_ACTIVE_HIGH>;
		output-high;
		line-name = "wl-wake-dev";
	};
	bt-wake-dev-hog {
		gpio-hog;
		gpios = <7 GPIO_ACTIVE_HIGH>;
		output-high;
		line-name = "bt-wake-dev";
	};
//	zb-reset-hog {
//		gpio-hog;
//		gpios = <11 GPIO_ACTIVE_LOW>;
//		output-low;
//		line-name = "zb-reset";
//	};
};

&gpio3 {
	lte-power-down-hog {
		gpio-hog;
		gpios = <1 GPIO_ACTIVE_HIGH>;
		output-low;
		line-name = "lte-power-down";
	};

	wlan-power-down-hog {
		gpio-hog;
		gpios = <7 GPIO_ACTIVE_LOW>;
		output-low;
		line-name = "wlan-power-down";
	};
	bt-wake-host-hog {
		gpio-hog;
		gpios = <8 GPIO_ACTIVE_HIGH>;
		input;
		line-name = "bt-wake-host";
	};
	bt-reset-hog {
		gpio-hog;
		gpios = <9 GPIO_ACTIVE_LOW>;
		output-low;
		line-name = "bt-reset";
	};
};

//&gpio4 {
//       zb-int-hog {
//		gpio-hog;
//		gpios = <22 GPIO_ACTIVE_HIGH>;
//		input;
//		line-name = "zb-int";
//       };
//};

&gpio5 {
       audio-shutdown-hog {
		gpio-hog;
		gpios = <4 GPIO_ACTIVE_LOW>;
		output-low;
		line-name = "tas2563-shutdown";
       };
};

&fec1 {
        status = "disabled";
};

&i2c2 {
        ptn5110: tcpc@50 {
                status = "disabled";
	};

	// Audio Amp
        tas2563: tas2563@4C {
                #sound-dai-cells = <0>;
                compatible = "ti,tas2563";
                reg = <0x4C>;
                ti,channels = <1>; /* channel number */
//              ti,reset-gpio = <&gpio5 4 GPIO_ACTIVE_HIGH>;
                ti,irq-gpio = <&gpio5 5 GPIO_ACTIVE_LOW>;
                ti,asi-format = <0>; /* 0, i2S; 1, DSP;  */
                ti,left-slot = <0>; /* <left slot number> */
                ti,right-slot = <1>; /* <right slot number> */
                ti,imon-slot-no = <0>; /* <current sense slot number> */
                ti,vmon-slot-no = <2>; /* <current voltage slot number> */
                ti,echo-ref = <2>;
                ti,bypass-tmax = <1>; /* 0, not bypass; 1, bypass */
                ti,i2s-bits = <32>;
                status = "okay";
        };
};

&i2c3 {
	ov5640_mipi: ov5640_mipi@3c {
		status = "disabled";
	};

	pca6416: gpio@20 {
		status = "disabled";
	};

        ak4458_1: ak4458@10 {
		status = "disabled";
	};

        ak4458_2: ak4458@12 {
		status = "disabled";
	};

        ak5558: ak5558@13 {
		status = "disabled";
	};

        ak4497: ak4497@11 {
		status = "disabled";
	};
};

&sai1 {
	status = "disabled";
};

&mipi_dsi {
       status = "disabled";
};

&spdif1 {
       status = "disabled";
};

&flexspi {
	status = "disabled";
};

// USB-C port
&usbotg1 {
	dr_mode = "host";
        /delete-property/ usb-role-switch;
        status = "okay";
};

// Cellular modem
&usbotg2 {
	dr_mode = "host";
        status = "okay";
};
